
@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Areas/AdmiMarketPlace/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xos geldin Admin</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon bg-primary">
                            <i class="far fa-user"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h3>12</h3>
                            <h6 class="text-muted">Istifadeci</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon bg-primary">
                            <i class="fas fa-user-shield"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h3>12</h3>
                            <h6 class="text-muted">Pesekar</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon bg-primary">
                            <i class="fas fa-qrcode"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h3>12</h3>
                            <h6 class="text-muted">Xidmetler</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon bg-primary">
                            <i class="far fa-credit-card"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h3>300 Azn</h3>
                            <h6 class="text-muted">Qazanc</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>