<!-- How It Works -->
<section class="how-work">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading howitworks">
                    <h2>Bu necə işləyir</h2>
                    <span>Mutexessisinizi size yaxin edirik</span>
                </div>
                <div class="howworksec">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="howwork">
                                <div class="iconround">
                                    <div class="steps">01</div>
                                    <img src="~/PublicFront/assets/img/icon-1.png" alt="">
                                </div>
                                <h3>Nə edəcəyinizi seçin</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, laudantium placeat tenetur maxime veniam dicta rem pariatur quis.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="howwork">
                                <div class="iconround">
                                    <div class="steps">02</div>
                                    <img src="~/PublicFront/assets/img/icon-2.png" alt="">
                                </div>
                                <h3>İstədiyinizi tapın</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, laudantium placeat tenetur maxime veniam dicta rem pariatur quis.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="howwork">
                                <div class="iconround">
                                    <div class="steps">03</div>
                                    <img src="~/PublicFront/assets/img/icon-3.png" alt="">
                                </div>
                                <h3>Mutexessis yaxinlassin</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, laudantium placeat tenetur maxime veniam dicta rem pariatur quis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /How It Works -->