<form action="@Url.Action("Register","Account")" method="post">

    @Html.AntiForgeryToken()
    <div class="form-group form-focus">
        <label class="focus-label">Ad</label>
        <input type="text" name="Email" class="form-control" placeholder="vagifibra@gmail.com">
    </div>
    <div class="form-group form-focus">
        <label class="focus-label">Mobil nömrə</label>
        <input type="text" name="PhoneNumber" class="form-control" placeholder="+995 55 321 00 07">
    </div>
    <div class="form-group form-focus">
        <label class="focus-label">Şifrə Yarat</label>
        <input type="password" name="Password" class="form-control" placeholder="********">
    </div>
    <div class="form-group form-focus">
        <label class="focus-label">Şifrə Tekrar</label>
        <input type="password" name="ConfirmPassword" class="form-control" placeholder="********">
    </div>

    <div class="text-right">
        <a class="forgot-link" href="#">
            Artıq bir hesabınız var mı?
        </a>
    </div>
    <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">
        Abunə olun
    </button>
    <div class="login-or">
        <span class="or-line"></span>
        <span class="span-or">or</span>
    </div>
    <div class="row form-row social-login">
        <div class="col-6">
            <a href="#" class="btn btn-facebook btn-block">
                <i class="fab fa-facebook-f mr-1"></i> Daxil ol
            </a>
        </div>
        <div class="col-6">
            <a href="#" class="btn btn-google btn-block">
                <i class="fab fa-google mr-1"></i> Daxil ol
            </a>
        </div>
    </div>
</form>